[Unit]
Description=List files service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /usr/local/bin/script.sh

[Install]
WantedBy=multi-user.target